@font-face {
    font-family: CrimsonPro;
    src: url("../fonts/crimsonpro/CrimsonPro-Regular.ttf");
}

@font-face {
    font-family: CrimsonPro;
    src: url("../fonts/crimsonpro/CrimsonPro-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: CrimsonPro;
    src: url("../fonts/crimsonpro/CrimsonPro-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: CrimsonPro;
    src: url("../fonts/crimsonpro/CrimsonPro-BoldItalic.ttf");
    font-style: italic;
    font-weight: bold;
}


body {
	font-family: CrimsonPro;
}

