@page {
    size: a5;
    margin: 1cm;
}

body {
    font-family: serif;
    font-size: 10pt;
}

ol, ul {
    margin-top: 6pt;
    margin-bottom: 6pt;
}

.border {
    border: 1pt solid;
    border-radius: 5pt;
    background-color: antiquewhite;
    padding: 1rem;
}

p {
    margin-top: 8pt;
    margin-bottom: 2pt;
}

pre, tt, code, kbd, samp {
    font-family: monospace;
    -bag-font-expansion: 0%;
}

.green {
    color: green;
}

#important {
    color: rebeccapurple;
    font-weight: bolder;
    font-style: italic;
}
